Repository PLANlT/planit-server, pull requests merged in 2025-06, with the labels that each got.

#38 [PL-62] [test] 플랜 기능 Repository Test 작성
  src/main/java/com/planit/planit/member/Member.java
  src/main/java/com/planit/planit/plan/Plan.java
  src/main/java/com/planit/planit/plan/PlanRepository.java
  src/test/java/com/planit/planit/plan/.gitkeep
  src/test/java/com/planit/planit/plan/PlanRepositoryTest.java
Labels: ✨ Minor

#44 [PL-98] [feat] 플랜 기능 1차 구현
  src/main/java/com/planit/planit/common/api/ApiResponse.java
  src/main/java/com/planit/planit/common/api/member/status/MemberErrorStatus.java
  src/main/java/com/planit/planit/common/api/plan/status/PlanErrorStatus.java
  src/main/java/com/planit/planit/common/api/plan/status/PlanSuccessStatus.java
  src/main/java/com/planit/planit/member/Member.java
  src/main/java/com/planit/planit/member/enums/GuiltyFreeReason.java
  src/main/java/com/planit/planit/plan/Plan.java
  src/main/java/com/planit/planit/plan/service/PlanCommandService.java
  src/main/java/com/planit/planit/plan/service/PlanCommandServiceImpl.java
  src/main/java/com/planit/planit/plan/service/PlanQueryService.java
  src/main/java/com/planit/planit/plan/service/PlanQueryServiceImpl.java
  src/main/java/com/planit/planit/task/Task.java
  src/main/java/com/planit/planit/task/enums/TaskType.java
  src/main/java/com/planit/planit/web/controller/.gitkeep
  src/main/java/com/planit/planit/web/controller/PlanController.java
  src/main/java/com/planit/planit/web/dto/plan/PlanRequestDTO.java
  src/main/java/com/planit/planit/web/dto/plan/PlanResponseDTO.java
  src/main/java/com/planit/planit/web/dto/plan/converter/PlanConverter.java
  src/main/java/com/planit/planit/web/dto/task/TaskResponseDTO.java
  src/main/java/com/planit/planit/web/dto/task/converter/TaskConverter.java
  src/test/java/com/planit/planit/plan/PlanRepositoryTest.java
  src/test/java/com/planit/planit/plan/service/PlanCommandServiceTest.java
  src/test/java/com/planit/planit/plan/service/PlanQueryServiceTest.java
Labels: 🌟 Feat

#60 [PL-115] Test: "MemberRepository 테스트 코드 작성"
  src/test/java/com/planit/planit/member/MemberRepositoryTest.java
Labels: ✅ Test

#62 [PL-116] Test: "MemberServiceImpl 테스트 코드 작성 및 createToken 함수 세분화
  src/main/java/com/planit/planit/config/jwt/JwtProvider.java
  src/main/java/com/planit/planit/member/service/MemberService.java
  src/main/java/com/planit/planit/member/service/MemberServiceImpl.java
  src/test/java/com/planit/planit/auth/FakeOAuth2User.java
  src/test/java/com/planit/planit/config/oauth/JwtAuthenticationFilterTest.java
  src/test/java/com/planit/planit/jwt/JwtProviderTest.java
  src/test/java/com/planit/planit/member/service/MemberServiceImplTest.java
Labels: ✏️ Task, ✅ Test
